# Changelog

<!--next-version-placeholder-->

{% for version, release in context.history.releases.items() %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

### Packages Updated
- jentic-openapi-parser {{ version }}
- jentic-openapi-transformer {{ version }}
- jentic-openapi-validator {{ version }}
- jentic-openapi-validator-spectral {{ version }}
- jentic-openapi-bundler-redocly {{ version }}

{% if release.elements.breaking %}
### ⚠ BREAKING CHANGES
{% for commit in release.elements.breaking %}
- {{ commit.descriptions[0] }}{% if commit.scope %} ({{ commit.scope }}){% endif %}
{% endfor %}

{% endif %}
{% if release.elements.feature %}
### Features
{% for commit in release.elements.feature %}
- {{ commit.descriptions[0] }}{% if commit.scope %} ({{ commit.scope }}){% endif %}
{% endfor %}

{% endif %}
{% if release.elements.fix %}
### Bug Fixes
{% for commit in release.elements.fix %}
- {{ commit.descriptions[0] }}{% if commit.scope %} ({{ commit.scope }}){% endif %}
{% endfor %}

{% endif %}
{% if release.elements.other %}
### Other Changes
{% for commit in release.elements.other %}
- {{ commit.descriptions[0] }}{% if commit.scope %} ({{ commit.scope }}){% endif %}
{% endfor %}

{% endif %}
{% endfor %}